<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="title" content="SiteBuilder - For Optimized Landing Sites" />
    <meta name="description" content="LayoutIt! is a drag-and-drop interface builder" />
    <meta name="keywords" content="" />
    <meta name="language" content="en" />
    <script type="text/javascript">var NREUMQ=NREUMQ||[];NREUMQ.push(["mark","firstbyte",new Date().getTime()]);</script>
    <title>SiteBuilder - For Optimized Landing Sites</title>
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
    <link href="/css/layoutit.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js" rel="stylesheet">
    <link href="/css/css_style_editor.css" rel="stylesheet">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
	<script src="/js/html5shiv.js"></script>
	<![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/img/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/img/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/img/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/img/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="/img/favicon.png">
  </head>
  <body class="edit">
    <div class="container-fluid">
      <div class="row-fluid">
	<div class="">
	  <div class="examples">	
	    <div class="topic">CSS Code</div>				
	    <pre id="output" class="prettyprint linenums" style="margin:20px;">#cssDisplay {
	      background-color: #FFFFFF;
	      color: #000000;
	      border: 9px solid #6D6D6D;
	      padding: 9px;
	      background-image: url(img1.png);
	      background-position: right;
	      border-radius: 19px;
	      text-shadow: 3px 0px 0px #800000;
	      }
	    </pre>			
	    <input style="margin-left:20px;" class="btn btn-primary" type="reset" value="Start Again" onclick="history.go()">
	  </div>
	</div>
      </div>
    </div>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
    <script type="text/javascript" src="http://cdn.transparensee.com/lib/jquery-plugin/touchpunch/0.2.2/jquery.ui.touch-punch.min.js"></script>
    <script type="text/javascript" src="/js/jquery.htmlClean.js"></script>
    <script type="text/javascript" src="/js/selector_utils.js"></script>
    <script type="text/javascript" src="/out/goog/base.js"></script>
    <script type="text/javascript" src="/js/main-debug.js"></script>
    <script type="text/javascript" src="/js/layout_manager.js"></script>
  </body>
</html>
