<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="title" content="SiteBuilder - For Optimized Landing Sites" />
    <meta name="description" content="LayoutIt! is a drag-and-drop interface builder" />
    <meta name="keywords" content="" />
    <meta name="language" content="en" />
    <script type="text/javascript">var NREUMQ=NREUMQ||[];NREUMQ.push(["mark","firstbyte",new Date().getTime()]);</script>
    <title>SiteBuilder - For Optimized Landing Sites</title>
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
    <link href="/css/layoutit.css" rel="stylesheet">
    <link href="/css/css_style_editor.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js" rel="stylesheet">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
	<script src="/js/html5shiv.js"></script>
	<![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/img/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/img/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/img/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/img/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="/img/favicon.png">
  </head>
  <body class="edit">
    <div class="container-fluid">
      <div class="row-fluid">
	<div class="">
	  <div class="sidebar-nav">
<div class="examples">
  <div class="topic">CSS Style Options</div>
  <p style="text-align:center;">
    <label for="t-color">Text Color: </label>
    <input class="color {hash:true}" id="t-color" value="#000000" type="text" onchange="updateDisplay()" style="width: 65px; background-image: none; background-color: rgb(0, 0, 0); color: rgb(255, 255, 255);" autocomplete="off">&nbsp;&nbsp;~&nbsp;
    <label for="b-color">Background Color: </label>
    <input class="color {hash:true}" id="b-color" value="#ffffff" type="text" onchange="updateDisplay()" style="width: 65px; background-image: none; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);" autocomplete="off">
    </p>
  <div class="accordion" id="accordion2">
      <div class="accordion-group">
	<div class="accordion-heading">
	    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
	      Border Style<i style="float:right" class="icon-chevron-down"></i>
	        </a>
	    </div>
	<div id="collapseOne" class="accordion-body collapse" style="height: 0px;">
	    <div class="accordion-inner">
	      <div>
		<p>
		  <label for="border-width">Border Width:</label>
		  <strong class="text-info"><span id="border-width">9</span>px</strong>
		  </p>
		<div id="slider_border-width" class="slider border ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" aria-disabled="false"><div class="ui-slider-range ui-widget-header ui-corner-all ui-slider-range-min" style="width: 90%;"></div><a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 90%;"></a></div>
		<p>
		  <label for="bc-color">Border Color: </label>
		  <input class="color {hash:true}" id="bc-color" value="#6d6d6d" type="text" onchange="updateDisplay()" style="width: 65px; background-image: none; background-color: rgb(109, 109, 109); color: rgb(255, 255, 255);" autocomplete="off">
		  </p>
		<p>
		  <label for="border-style">Border Style: </label>
		  <select onchange="updateDisplay()" id="border-style">
		      <option value="solid">Solid</option>
		        <option value="dashed">Dashed</option>
			  <option value="dotted">Dotted</option>
			    <option value="double">Double</option>
			      <option value="groove">Groove</option>
			        <option value="inset">Inset</option>
				  <option value="outset">Outset</option>
				    <option value="ridge">Ridge</option>
				    </select>
		  </p>
		</div>
	        </div>
	    </div>
	  </div>
        <div class="accordion-group">
	  <div class="accordion-heading">
	      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
		Paddings / Margins<i style="float:right" class="icon-chevron-down"></i>
		  </a>
	      </div>
	  <div id="collapseTwo" class="accordion-body collapse" style="height: 0px;">
	      <div class="accordion-inner">
		<div>
		  <h3>Padding</h3>
		  <p>
		    <label for="padding">Padding:</label>
		    <strong class="text-info"><span id="padding">9</span>px</strong>
		    </p>
		  <div id="slider_padding" class="slider padding ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" aria-disabled="false"><div class="ui-slider-range ui-widget-header ui-corner-all ui-slider-range-min" style="width: 36%;"></div><a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 36%;"></a></div>
		  <h3>Margins</h3>
		  <p>
		    <label for="margin">Margin:</label>
		    <strong class="text-info"><span id="margin">0</span>px</strong>
		    </p>
		  <div id="slider_margin" class="slider padding ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" aria-disabled="false"><div class="ui-slider-range ui-widget-header ui-corner-all ui-slider-range-min" style="width: 0%;"></div><a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 0%;"></a></div>
		  </div>
		  </div>
	      </div>
	    </div>
	  <div class="accordion-group">
	    <div class="accordion-heading">
	        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
		  Font Style<i style="float:right" class="icon-chevron-down"></i>
		    </a>
		</div>
	    <div id="collapseThree" class="accordion-body collapse">
	        <div class="accordion-inner">
		  <div>
		    <p>
		      <label for="font-name">Font: </label>
		      <select onchange="updateDisplay()" id="font-name">
			  <option value=""></option>
			    <option value="arial">Arial</option>
			      <option value="'arial black'">Arial Black</option>
			        <option value="'comic sans ms'">Comic Sans MS</option>
				  <option value="'courier new'">Courier New</option>
				    <option value="georgia">Georgia</option>
				      <option value="helvetica">Helvetica</option>
				        <option value="impact">Impact</option>
					  <option value="'times new roman'">Times New Roman</option>
					    <option value="'trebuchet ms'">Trebuchet MS</option>
					      <option value="verdana">Verdana</option>
					      </select>
		      </p>
		    <p>
		      <label for="font-style">Font Style: </label>
		      <select onchange="updateDisplay()" id="font-style">
			  <option value=""></option>
			    <option value="normal">Normal</option>
			      <option value="italic">Italic</option>
			        <option value="oblique">Oblique</option>
				</select>
		      </p>
		    <p>
		      <label for="font-weight">Font Weight: </label>
		      <select onchange="updateDisplay()" id="font-weight">
			  <option value=""></option>
			    <option value="normal">Normal</option>
			      <option value="bold">Bold</option>
			        <option value="bolder">Bolder</option>
				  <option value="lighter">Lighter</option>
				  </select>
		      </p>
		    <p>
		      <label for="font-size">Font Size:</label>
		      <strong class="text-info"><span id="font-size">0</span>px</strong>
		      </p>
		    <div id="slider_font-size" class="slider fontsize ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" aria-disabled="false"><div class="ui-slider-range ui-widget-header ui-corner-all ui-slider-range-min" style="width: 0%;"></div><a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 0%;"></a></div>
		    <p>
		      <label for="font-variant">Font Variant: </label>
		      <select onchange="updateDisplay()" id="font-variant">
			  <option value=""></option>
			    <option value="normal">Normal</option>
			      <option value="small-caps">small-caps</option>
			      </select>
		      </p>
		    <p>
		      <label for="line-height">Line Height:</label>
		      <strong class="text-info"><span id="line-height">0</span>px</strong>
		      </p>
		    <div id="slider_line-height" class="slider padding ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" aria-disabled="false"><div class="ui-slider-range ui-widget-header ui-corner-all ui-slider-range-min" style="width: 0%;"></div><a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 0%;"></a></div>
		    </div>
		    </div>
		</div>
	      </div>
	    <div class="accordion-group">
	      <div class="accordion-heading">
		  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
		    Text Style<i style="float:right" class="icon-chevron-down"></i>
		      </a>
		  </div>
	      <div id="collapseFour" class="accordion-body collapse">
		  <div class="accordion-inner">
		    <div>
		      <p>
			<label for="text-align">Text-Align: </label>
			<select onchange="updateDisplay()" id="text-align">
			    <option value=""></option>
			      <option value="left">left</option>
			        <option value="right">right</option>
				  <option value="center">center</option>
				    <option value="justify">justify</option>
				    </select>
			</p>
		      <p>
			<label for="text-decoration">Text-Decoration: </label>
			<select onchange="updateDisplay()" id="text-decoration">
			    <option value=""></option>
			      <option value="none">none</option>
			        <option value="underline">underline</option>
				  <option value="overline">overline</option>
				    <option value="underline overline">underline overline</option>
				      <option value="line-through">line through</option>
				        <option value="blink">blink</option>
					</select>
			</p>
		      <p>
			<label for="text-indent">Text-Indent:</label>
			<strong class="text-info"><span id="text-indent">0</span>px</strong>
			</p>
		      <div id="slider_text-indent" class="slider fontsize ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" aria-disabled="false"><div class="ui-slider-range ui-widget-header ui-corner-all ui-slider-range-min" style="width: 0%;"></div><a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 0%;"></a></div>
		      <p>
			<label for="letter-spacing">Letter-Spacing:</label>
			<strong class="text-info"><span id="letter-spacing">0</span>px</strong>
			</p>
		      <div id="slider_letter-spacing" class="slider border ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" aria-disabled="false"><div class="ui-slider-range ui-widget-header ui-corner-all ui-slider-range-min" style="width: 0%;"></div><a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 0%;"></a></div>
		      <p>
			<label for="word-spacing">Word-Spacing:</label>
			<strong class="text-info"><span id="word-spacing">0</span>px</strong>
			</p>
		      <div id="slider_word-spacing" class="slider border ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" aria-disabled="false"><div class="ui-slider-range ui-widget-header ui-corner-all ui-slider-range-min" style="width: 0%;"></div><a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 0%;"></a></div>
		      <p>
			<label for="text-transform">Text-Transform: </label>
			<select onchange="updateDisplay()" id="text-transform">
			    <option value=""></option>
			      <option value="none">none</option>
			        <option value="capitalize">capitalize</option>
				  <option value="lowercase">lowercase</option>
				    <option value="uppercase">uppercase</option>
				    </select>
			</p>
		      </div>
		      </div>
		  </div>
	        </div>
	      <div class="accordion-group">
		<div class="accordion-heading">
		    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive">
		      Background Style<i style="float:right" class="icon-chevron-down"></i>
		        </a>
		    </div>
		<div id="collapseFive" class="accordion-body collapse" style="height: 0px;">
		    <div class="accordion-inner">
		      <div>
			<p>
			  <label for="background-image" style="width:160px;">Background-Image: </label>
			  <select onchange="updateDisplay()" id="background-image">
			      <option value=""></option>
			        <option value="url(img1.png)">url(img1.png)</option>
				  <option value="url(img2.png)">url(img2.png)</option>
				  </select>
			  </p>
			<p>
			  <label for="background-repeat" style="width:160px;">Background-Repeat: </label>
			  <select onchange="updateDisplay()" id="background-repeat">
			      <option value=""></option>
			        <option value="repeat">repeat</option>
				  <option value="repeat-x">repeat-x</option>
				    <option value="repeat-y">repeat-y</option>
				      <option value="no-repeat">no-repeat</option>
				      </select>
			  </p>
			<p>
			  <label for="background-position" style="width:160px;">Background-Position: </label>
			  <select onchange="updateDisplay()" id="background-position">
			      <option value=""></option>
			        <option value="left">left</option>
				  <option value="right">right</option>
				    <option value="top">top</option>
				      <option value="left top">left top</option>
				        <option value="right bottom">right bottom</option>
					  <option value="50% 50%">50% 50%</option>
					  </select>
			  </p>
			<p>
			  <label for="background-attachment" style="width:160px;">Background-Attachment: </label>
			  <select onchange="updateDisplay()" id="background-attachment">
			      <option value=""></option>
			        <option value="fixed">fixed</option>
				  <option value="scroll">scroll</option>
				  </select>
			  </p>
			</div>
		        </div>
		    </div>
		  </div>
	        <div class="accordion-group">
		  <div class="accordion-heading">
		      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseSix">
			Position Style<i style="float:right" class="icon-chevron-down"></i>
			  </a>
		      </div>
		  <div id="collapseSix" class="accordion-body collapse">
		      <div class="accordion-inner">
			<div>
			  <p>
			    <label for="position">Position: </label>
			    <select onchange="updateDisplay()" id="position">
			        <option value=""></option>
				  <option value="static">static</option>
				    <option value="relative">relative</option>
				      <option value="absolute">absolute</option>
				        <option value="fixed">fixed</option>
					</select>
			    </p>
			  <p>
			    <label for="top">Top:</label>
			    <strong class="text-info"><span id="top">0</span>px</strong>
			    </p>
			  <div id="slider_top" class="slider position ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" aria-disabled="false"><div class="ui-slider-range ui-widget-header ui-corner-all ui-slider-range-min" style="width: 0%;"></div><a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 0%;"></a></div>
			  <p>
			    <label for="left">Left:</label>
			    <strong class="text-info"><span id="left">0</span>px</strong>

			    </p>
			  <div id="slider_left" class="slider position ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" aria-disabled="false"><div class="ui-slider-range ui-widget-header ui-corner-all ui-slider-range-min" style="width: 0%;"></div><a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 0%;"></a></div>
			  <p>
			    <label for="right">Right:</label>
			    <strong class="text-info"><span id="right">0</span>px</strong>
			    </p>
			  <div id="slider_right" class="slider position ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" aria-disabled="false"><div class="ui-slider-range ui-widget-header ui-corner-all ui-slider-range-min" style="width: 0%;"></div><a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 0%;"></a></div>
			  <p>
			    <label for="bottom">Bottom:</label>
			    <strong class="text-info"><span id="bottom">0</span>px</strong>
			    </p>
			  <div id="slider_bottom" class="slider position ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" aria-disabled="false"><div class="ui-slider-range ui-widget-header ui-corner-all ui-slider-range-min" style="width: 0%;"></div><a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 0%;"></a></div>
			  </div>
			  </div>
		      </div>
		    </div>
		  <div class="accordion-group">
		    <div class="accordion-heading">
		        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseSeven">
			  Extras<i style="float:right" class="icon-chevron-up"></i>
			    </a>
			</div>
		    <div id="collapseSeven" class="accordion-body in collapse" style="height: auto;">
		        <div class="accordion-inner">
			  <div>
			    <p>
			      <label for="cursor">Cursor: </label>
			      <select onchange="updateDisplay()" id="cursor">
				  <option value=""></option>
				    <option value="crosshair">crosshair</option>
				      <option value="default">default</option>
				        <option value="pointer">pointer</option>
					  <option value="move">move</option>
					    <option value="text">text</option>
					      <option value="wait">wait</option>
					        <option value="help">help</option>
						  <option value="n-resize">n-resize</option>
						    <option value="s-resize">s-resize</option>
						      <option value="w-resize">w-resize</option>
						        <option value="e-resize">e-resize</option>
							  <option value="ne-resize">ne-resize</option>
							    <option value="nw-resize">nw-resize</option>
							      <option value="se-resize">se-resize</option>
							        <option value="sw-resize">sw-resize</option>
								</select>
			      </p>
			    <p>
			      <label for="visibility">Visibility: </label>
			      <select onchange="updateDisplay()" id="visibility">
				  <option value=""></option>
				    <option value="visible">visible</option>
				      <option value="hidden">hidden</option>
				      </select>
			      </p>
			    <p>
			      <label for="overflow">Overflow: </label>
			      <select onchange="updateDisplay()" id="overflow">
				  <option value=""></option>
				    <option value="visible">visible</option>
				      <option value="hidden">hidden</option>
				        <option value="scroll">scroll</option>
					  <option value="auto">auto</option>
					  </select>
			      </p>
			    <p>
			      <label for="float">Float: </label>
			      <select onchange="updateDisplay()" id="float">
				  <option value=""></option>
				    <option value="left">left</option>
				      <option value="right">right</option>
				        <option value="none">none</option>
					</select>
			      </p>
			    </div>
			    </div>
			</div>
		      </div>
		    <div class="accordion-group">
		      <div class="accordion-heading">
			  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseEight">
			    CSS3 Styles<i style="float:right" class="icon-chevron-down"></i>
			      </a>
			  </div>
		      <div id="collapseEight" class="accordion-body collapse" style="height: 0px;">
			  <div class="accordion-inner">
			    <div>
			      <h3>Border Radius</h3>
			      <p>
				<label for="border-radius">Width:</label>
				<strong class="text-info"><span id="border-radius">19</span>px</strong>
				</p>
			      <div id="slider_border-radius" class="slider padding ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" aria-disabled="false"><div class="ui-slider-range ui-widget-header ui-corner-all ui-slider-range-min" style="width: 76%;"></div><a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 76%;"></a></div>
			      <h3>Text Shadow</h3>
			      <p>
				<label for="text-h-length">Horizontal Length:</label>
				<strong class="text-info"><span id="text-h-length">3</span>px</strong>
				</p>
			      <div id="slider_text-h-length" class="slider border ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" aria-disabled="false"><div class="ui-slider-range ui-widget-header ui-corner-all ui-slider-range-min" style="width: 30%;"></div><a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 30%;"></a></div>
			      <p>
				<label for="text-v-length">Vertical Length:</label>
				<strong class="text-info"><span id="text-v-length">0</span>px</strong>
				</p>
			      <div id="slider_text-v-length" class="slider border ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" aria-disabled="false"><div class="ui-slider-range ui-widget-header ui-corner-all ui-slider-range-min" style="width: 0%;"></div><a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 0%;"></a></div>
			      <p>
				<label for="text-b-length">Blur:</label>
				<strong class="text-info"><span id="text-b-length">0</span>px</strong>
				</p>
			      <div id="slider_text-b-length" class="slider border ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" aria-disabled="false"><div class="ui-slider-range ui-widget-header ui-corner-all ui-slider-range-min" style="width: 0%;"></div><a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 0%;"></a></div>
			      
			      <p>
				<label for="text-s-color">Shadow Color : </label>
				<input class="color {pickerPosition:'top',hash:true}" id="text-s-color" value="#800000" type="text" onchange="updateDisplay()" style="width: 65px; background-image: none; background-color: rgb(128, 0, 0); color: rgb(255, 255, 255);" autocomplete="off">
				</p>
			      <h3>Box Shadow</h3>
			      <p>
				<label for="box-h-length">Horizontal Length:</label>
				<strong class="text-info"><span id="box-h-length">0</span>px</strong>
				</p>
			      <div id="slider_box-h-length" class="slider border ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" aria-disabled="false"><div class="ui-slider-range ui-widget-header ui-corner-all ui-slider-range-min" style="width: 0%;"></div><a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 0%;"></a></div>
			      <p>
				<label for="box-v-length">Vertical Length:</label>
				<strong class="text-info"><span id="box-v-length">0</span>px</strong>
				</p>
			      <div id="slider_box-v-length" class="slider border ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" aria-disabled="false"><div class="ui-slider-range ui-widget-header ui-corner-all ui-slider-range-min" style="width: 0%;"></div><a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 0%;"></a></div>
			      <p>
				<label for="box-b-length">Blur Radius:</label>
				<strong class="text-info"><span id="box-b-length">0</span>px</strong>
				</p>
			      <div id="slider_box-b-length" class="slider border ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" aria-disabled="false"><div class="ui-slider-range ui-widget-header ui-corner-all ui-slider-range-min" style="width: 0%;"></div><a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 0%;"></a></div>
			      <p>
				<label for="box-s-color">Shadow Color : </label>
				<input class="color {pickerPosition:'top',hash:true}" id="box-s-color" value="#800000" type="text" onchange="updateDisplay()" style="width: 65px; background-image: none; background-color: rgb(128, 0, 0); color: rgb(255, 255, 255);" autocomplete="off">
				</p>
			      </div>
			      </div>
			  </div>
		        </div>
		    </div>
  </div>
	  </div>
	</div>
      </div>
    </div>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
    <script type="text/javascript" src="http://cdn.transparensee.com/lib/jquery-plugin/touchpunch/0.2.2/jquery.ui.touch-punch.min.js"></script>
    <script type="text/javascript" src="/js/jquery.htmlClean.js"></script>
    <script type="text/javascript" src="/js/selector_utils.js"></script>
    <script type="text/javascript" src="/out/goog/base.js"></script>
    <script type="text/javascript" src="/js/main-debug.js"></script>
    <script type="text/javascript" src="/js/layout_manager.js"></script>
  </body>
</html>
