<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="title" content="SiteBuilder - For Optimized Landing Sites" />
    <meta name="description" content="LayoutIt! is a drag-and-drop interface builder" />
    <meta name="keywords" content="" />
    <meta name="language" content="en" />
    <script type="text/javascript">var NREUMQ=NREUMQ||[];NREUMQ.push(["mark","firstbyte",new Date().getTime()]);</script>
    <title>SiteBuilder - For Optimized Landing Sites</title>
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
    <link href="/css/layoutit.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
	<script src="/js/html5shiv.js"></script>
	<![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/img/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/img/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/img/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/img/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="/img/favicon.png">
  </head>
  <body class="edit">
    <ul id="grid-system" class="nav nav-list accordion-group">
      <li class="nav-header">
	<div class="pull-right popover-info"><i class="icon-question-sign "></i>
	  <div class="popover fade right"><div class="arrow"></div>
 	    <h3 class="popover-title">Help</h3>
 	    <div class="popover-content">To change the column configuration you can edit the different values in the input (they should add 12). If you need more info please visit <a target="_blank" href="http://twitter.github.io/bootstrap/scaffolding.html#gridSystem">Bootstrap grid system.</a></div></div>
	</div>
	<i class="icon-plus icon-white"></i>  Grid system
      </li>
      <li class="rows" id="estRows">
	<div class="lyrow">
	  <a href="build#close" class="remove label label-important"><i class="icon-remove icon-white"></i>remove</a>
	  <span class="drag label"><i class="icon-move"></i>drag</span>
	  <div class="preview"><input type="text" value="12"></div>
	  <div class="view">
	    <div class="row-fluid clearfix">
	      <div class="span12 column"></div>
	    </div>
	  </div>
	</div>
	<div class="lyrow">
	  <a href="build#close" class="remove label label-important"><i class="icon-remove icon-white"></i>remove</a>
	  <span class="drag label"><i class="icon-move"></i>drag</span>
	  <div class="preview"><input type="text" value="6 6"></div>
	  <div class="view">
	    <div class="row-fluid clearfix">
	      <div class="span6 column"></div>
	      <div class="span6 column"></div>
	    </div>
	  </div>
	</div>
	<div class="lyrow">
	  <a href="build#close" class="remove label label-important"><i class="icon-remove icon-white"></i>remove</a>
	  <span class="drag label"><i class="icon-move"></i>drag</span>
	  <div class="preview"><input type="text" value="8 4"></div>
	  <div class="view">
	    <div class="row-fluid clearfix">
	      <div class="span8 column"></div>
	      <div class="span4 column"></div>
	    </div>
	  </div>
	</div>
	<div class="lyrow">
	  <a href="build#close" class="remove label label-important"><i class="icon-remove icon-white"></i>remove</a>
	  <span class="drag label"><i class="icon-move"></i>drag</span>
	  <div class="preview"><input type="text" value="4 4 4"></div>
	  <div class="view">
	    <div class="row-fluid clearfix">
	      <div class="span4 column"></div>
	      <div class="span4 column"></div>
	      <div class="span4 column"></div>
	    </div>
	  </div>
	</div>
	<div class="lyrow">
	  <a href="build#close" class="remove label label-important"><i class="icon-remove icon-white"></i>remove</a>
	  <span class="drag label"><i class="icon-move"></i>drag</span>
	  <div class="preview"><input type="text" value="2 6 4"></div>
	  <div class="view">
	    <div class="row-fluid clearfix">
	      <div class="span2 column"></div>
	      <div class="span6 column"></div>
	      <div class="span4 column"></div>
	    </div>
	  </div>
	</div>
      </li>
    </ul>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
    <script type="text/javascript" src="http://cdn.transparensee.com/lib/jquery-plugin/touchpunch/0.2.2/jquery.ui.touch-punch.min.js"></script>
    <script type="text/javascript" src="/js/jquery.htmlClean.js"></script>
    <script type="text/javascript" src="/js/selector_utils.js"></script>
    <script type="text/javascript" src="/out/goog/base.js"></script>
    <script type="text/javascript" src="/js/main-debug.js"></script>
    <script type="text/javascript" src="/js/layout_manager.js"></script>
  </body>
</html>
