<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="title" content="SiteBuilder - For Optimized Landing Sites" />
    <meta name="description" content="LayoutIt! is a drag-and-drop interface builder" />
    <meta name="keywords" content="" />
    <meta name="language" content="en" />
    <script type="text/javascript">var NREUMQ=NREUMQ||[];NREUMQ.push(["mark","firstbyte",new Date().getTime()]);</script>
    <title>SiteBuilder - For Optimized Landing Sites</title>
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
    <link href="/css/layoutit.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
	<script src="/js/html5shiv.js"></script>
	<![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/img/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/img/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/img/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/img/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="/img/favicon.png">
  </head>
  <body class="edit">
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
	<div class="container-fluid">
	  <button data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar" type="button">
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	  </button>
	  <div class="nav-collapse collapse">
	    <ul class="nav" id="menu-layoutit">
	      <li class="divider-vertical"></li>
	      <li>
		<div class="btn-group" data-toggle="buttons-radio">
		  <button type="button" id="edit" class="active btn btn-small btn-primary"><i class="icon-edit icon-white"></i> Edit</button>
		  <button type="button" class="btn btn-small btn-primary" id="devpreview"><i class="icon-eye-close icon-white"></i> Developer view</button>
		  <button type="button" class="btn btn-small btn-primary" id="style-view"><i class="icon-eye-close icon-white"></i>CSS</button>
		  <button type="button" class="btn btn-small btn-primary" id="sourcepreview"><i class="icon-eye-open icon-white"></i> Preview</button>
		</div>
		<div class="btn-group" data-toggle="buttons-radio">
		  <button type="button" class="btn btn-small btn-primary" id="content-view"><i class="icon-eye-open icon-white"></i>Content View</button>
		  <button type="button" class="btn btn-small btn-primary" id="document-view"><i class="icon-eye-open icon-white"></i>Document View</button>
		</div>
		<div class="btn-group">
		  <button type="button" class="btn btn-small btn-primary" data-target="#downloadModal" rel="/build/downloadModal" role="button" data-toggle="modal" data-target="#downloadModal"><i class="icon-chevron-down icon-white"></i>Download</button>
		  <button class="btn btn-small btn-primary" role="button" data-toggle="modal" data-target="#shareModal"><i class="icon-share icon-white"></i>Publish</button>
		  <button id="save-landing-site" class="btn btn-small btn-primary" role="button"><i class="icon-share icon-white"></i>Save Landing Site</button>
		  <button class="btn btn-small btn-primary" href="#clear" id="clear" ><i class="icon-trash icon-white"></i> Clear</button>
		</div>
	      </li>
	    </ul>
	  </div>
	</div>
      </div>
    </div>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
    <script type="text/javascript" src="http://cdn.transparensee.com/lib/jquery-plugin/touchpunch/0.2.2/jquery.ui.touch-punch.min.js"></script>
    <script type="text/javascript" src="/js/jquery.htmlClean.js"></script>
    <script type="text/javascript" src="/js/selector_utils.js"></script>
    <script type="text/javascript" src="/out/goog/base.js"></script>
    <script type="text/javascript" src="/js/main-debug.js"></script>
    <script type="text/javascript" src="/js/layout_manager.js"></script>
  </body>
</html>
