<html>
  <body id="the_body">
      <section id="default-stats">
	<table>
	  <thead>
            <tr>
              <th>Job Name</th>
              <th>Status</th>
              <th>Last Ran</th>
              <th>Last Fail</th>
              <th>Last Success</th>
	      <th>Run Count</th>
	      <th>Avg Runtime</th>
            </tr>
          </thead>
           <tbody>
	  <tr>
	    <td>Phoenix</td>
	    <td>Running</td>
	    <td>Now</td>
	    <td>Yesterday</td>
	    <td>Today</td>
	    <td>50</td>
	    <td>5 minutes</td>
	  </tr>
	</table>
      </section>
  </body>
</html>
