<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="title" content="SiteBuilder - For Optimized Landing Sites" />
    <meta name="description" content="LayoutIt! is a drag-and-drop interface builder" />
    <meta name="keywords" content="" />
    <meta name="language" content="en" />
    <script type="text/javascript">var NREUMQ=NREUMQ||[];NREUMQ.push(["mark","firstbyte",new Date().getTime()]);</script>
    <title>SiteBuilder - For Optimized Landing Sites</title>
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
    <link href="/css/layoutit.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
	<script src="/js/html5shiv.js"></script>
	<![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/img/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/img/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/img/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/img/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="/img/favicon.png">
  </head>
  <body class="edit">
    <ul class="nav nav-list accordion-group" id="css-base">
      <li class="nav-header"><i class="icon-plus icon-white"></i> Base CSS
	<div class="pull-right popover-info"><i class="icon-question-sign "></i> 
	  <div class="popover fade right"><div class="arrow"></div> 
 	    <h3 class="popover-title">Help</h3> 
 	    <div class="popover-content">Drag &amp; Drop the elements inside the columns where you want to insert it. And from there, you can configure the style of that element. If you need more info please visit <a target="_blank" href="http://twitter.github.io/bootstrap/base-css.html">Base CSS.</a></div></div> 
	</div>
      </li>
      <li class="boxes" id="elmBase">
	<div class="box box-element">
	  <a href="build#close" class="remove label label-important"><i class="icon-remove icon-white"></i>remove</a>
	  <span class="drag label"><i class="icon-move"></i>drag</span>
	  <span class="configuration">
	    <span class="btn-group">
	      <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="build#">Align <span class="caret"></span></a>
	      <ul class="dropdown-menu">
		<li class="active" ><a href="build#" rel="">Default</a></li>
		<li class="" ><a href="build#" rel="text-left">Left</a></li>
		<li class="" ><a href="build#" rel="text-center">Center</a></li>
		<li class="" ><a href="build#" rel="text-right">Right</a></li>
	      </ul>
	    </span>
	    <span class="btn-group">
	      <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="build#">Emphasis <span class="caret"></span></a>
	      <ul class="dropdown-menu">
		<li class="active" ><a href="build#" rel="">Default</a></li>
		<li class="" ><a href="build#" rel="muted">Muted</a></li>
		<li class="" ><a href="build#" rel="text-warning">Warning</a></li>
		<li class="" ><a href="build#" rel="text-error">Error</a></li>
		<li class="" ><a href="build#" rel="text-info">Info</a></li>
		<li class="" ><a href="build#" rel="text-success">Success</a></li>
	      </ul>
	    </span>
	  </span>
	  <div class="preview">Title</div>
	  <div class="view">
	    <h3 contenteditable="true">h3. Lorem ipsum dolor sit amet.</h3>
	  </div>
	</div>
	<div class="box box-element">
	  <a href="build#close" class="remove label label-important"><i class="icon-remove icon-white"></i>remove</a>
	  <span class="drag label"><i class="icon-move"></i>drag</span>
	  <span class="configuration">
	    <span class="btn-group">
	      <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="build#">Align <span class="caret"></span></a>
	      <ul class="dropdown-menu">
		<li class="active" ><a href="build#" rel="">Default</a></li>
		<li class="" ><a href="build#" rel="text-left">Left</a></li>
		<li class="" ><a href="build#" rel="text-center">Center</a></li>
		<li class="" ><a href="build#" rel="text-right">Right</a></li>
	      </ul>
	    </span>
	    <span class="btn-group">
	      <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="build#">Emphasis <span class="caret"></span></a>
	      <ul class="dropdown-menu">
		<li class="active" ><a href="build#" rel="">Default</a></li>
		<li class="" ><a href="build#" rel="muted">Muted</a></li>
		<li class="" ><a href="build#" rel="text-warning">Warning</a></li>
		<li class="" ><a href="build#" rel="text-error">Error</a></li>
		<li class="" ><a href="build#" rel="text-info">Info</a></li>
		<li class="" ><a href="build#" rel="text-success">Success</a></li>
	      </ul>
	    </span>
	    
	    <a class="btn btn-mini" href="build#" rel="lead">Lead</a>
	  </span>
	  <div class="preview">Paragraph</div>
	  <div class="view">
	    <p contenteditable="true">Lorem ipsum dolor sit amet, <strong>consectetur adipiscing elit</strong>. Aliquam eget sapien sapien. Curabitur in metus urna. In hac habitasse platea dictumst. Phasellus eu sem sapien, sed vestibulum velit. Nam purus nibh, lacinia non faucibus et, pharetra in dolor. Sed iaculis posuere diam ut cursus. <em>Morbi commodo sodales nisi id sodales. Proin consectetur, nisi id commodo imperdiet, metus nunc consequat lectus, id bibendum diam velit et dui.</em> Proin massa magna, vulputate nec bibendum nec, posuere nec lacus. <small>Aliquam mi erat, aliquam vel luctus eu, pharetra quis elit. Nulla euismod ultrices massa, et feugiat ipsum consequat eu. </small></p>
	  </div>
	</div>
	<div class="box box-element">
	  <a href="build#close" class="remove label label-important"><i class="icon-remove icon-white"></i>remove</a>
	  <span class="drag label"><i class="icon-move"></i>drag</span>
	  <div class="preview">Address</div>
	  <div class="view">
	    <address contenteditable="true">
	      <strong>Twitter, Inc.</strong><br>
	      795 Folsom Ave, Suite 600<br>
	      San Francisco, CA 94107<br>
	      <abbr title="Phone">P:</abbr> (123) 456-7890
	    </address>
	  </div>
	</div>
	<div class="box box-element">
	  <a href="build#close" class="remove label label-important"><i class="icon-remove icon-white"></i>remove</a>
	  <span class="drag label"><i class="icon-move"></i>drag</span>
	  <span class="configuration">		  
	    <a class="btn btn-mini" href="build#" rel="pull-right">Pull right</a>
	  </span>
	  <div class="preview">Blockquote</div>
	  <div class="view clearfix">
	    <blockquote contenteditable="true">
	      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
	      <small>Someone famous <cite title="Source Title">Source Title</cite></small>
	    </blockquote>
	  </div>
	</div>
	<div class="box box-element">
	  <a href="build#close" class="remove label label-important"><i class="icon-remove icon-white"></i>remove</a>
	  <span class="drag label"><i class="icon-move"></i>drag</span>
	  <span class="configuration">		  
	    <a class="btn btn-mini" href="build#" rel="unstyled">Unstyled</a>
	    <a class="btn btn-mini" href="build#" rel="inline">Inline</a>
	  </span>
	  <div class="preview">Unordered List</div>
	  <div class="view">
	    <ul contenteditable="true">
	      <li>Lorem ipsum dolor sit amet</li>
	      <li>Consectetur adipiscing elit</li>
	      <li>Integer molestie lorem at massa</li>
	      <li>Facilisis in pretium nisl aliquet</li>
	      <li>Nulla volutpat aliquam velit</li>
	      <li>Faucibus porta lacus fringilla vel</li>
	      <li>Aenean sit amet erat nunc</li>
	      <li>Eget porttitor lorem</li>
	    </ul>
	  </div>
	</div>
	<div class="box box-element">
	  <a href="build#close" class="remove label label-important"><i class="icon-remove icon-white"></i>remove</a>
	  <span class="drag label"><i class="icon-move"></i>drag</span>
	  <span class="configuration">		  
	    <a class="btn btn-mini" href="build#" rel="unstyled">Unstyled</a>
	    <a class="btn btn-mini" href="build#" rel="inline">Inline</a>
	  </span>
	  <div class="preview">Ordered List</div>
	  <div class="view">
	    <ol contenteditable="true">
	      <li>Lorem ipsum dolor sit amet</li>
	      <li>Consectetur adipiscing elit</li>
	      <li>Integer molestie lorem at massa</li>
	      <li>Facilisis in pretium nisl aliquet</li>
	      <li>Nulla volutpat aliquam velit</li>
	      <li>Faucibus porta lacus fringilla vel</li>
	      <li>Aenean sit amet erat nunc</li>
	      <li>Eget porttitor lorem</li>
	    </ol>
	  </div>
	</div>
	<div class="box box-element">
	  <a href="build#close" class="remove label label-important"><i class="icon-remove icon-white"></i>remove</a>
	  <span class="drag label"><i class="icon-move"></i>drag</span>
	  <span class="configuration">		  
	    <a class="btn btn-mini" href="build#" rel="dl-horizontal">Horizontal</a>
	  </span>
	  <div class="preview">Description</div>
	  <div class="view">
	    <dl contenteditable="true">
	      <dt>Description lists</dt>
	      <dd>A description list is perfect for defining terms.</dd>
	      <dt>Euismod</dt>
	      <dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd>
	      <dd>Donec id elit non mi porta gravida at eget metus.</dd>
	      <dt>Malesuada porta</dt>
	      <dd>Etiam porta sem malesuada magna mollis euismod.</dd>
	      <dt>Felis euismod semper eget lacinia</dt>
	      <dd>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</dd>
	    </dl>
	  </div>
	</div>
	<div class="box box-element">
	  <a href="build#close" class="remove label label-important"><i class="icon-remove icon-white"></i>remove</a>
	  <span class="drag label"><i class="icon-move"></i>drag</span>
	  <span class="configuration">
	    <span class="btn-group">
	      <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="build#">Style <span class="caret"></span></a>
	      <ul class="dropdown-menu">
		<li class="active" ><a href="build#" rel="">Default</a></li>
		<li class="" ><a href="build#" rel="table-striped">Striped</a></li>
		<li class="" ><a href="build#" rel="table-bordered">Bordered</a></li>
	      </ul>
	    </span>
	    <a class="btn btn-mini" href="build#" rel="table-hover">Hover</a>
	    <a class="btn btn-mini" href="build#" rel="table-condensed">Condensed</a>
	  </span>
	  <div class="preview">Table</div>
	  <div class="view">
	    <table class="table" contenteditable="true">
	      <thead>
		<tr>
		  <th>#</th>
		  <th>Product</th>
		  <th>Payment Taken</th>
		  <th>Status</th>
		</tr>
	      </thead>
	      <tbody>
      		<tr>
		  <td>1</td>
		  <td>TB - Monthly</td>
		  <td>01/04/2012</td>
		  <td>Default</td>
		</tr>
		<tr class="success">
		  <td>1</td>
		  <td>TB - Monthly</td>
		  <td>01/04/2012</td>
		  <td>Approved</td>
		</tr>
		<tr class="error">
		  <td>2</td>
		  <td>TB - Monthly</td>
		  <td>02/04/2012</td>
		  <td>Declined</td>
		</tr>
		<tr class="warning">
		  <td>3</td>
		  <td>TB - Monthly</td>
		  <td>03/04/2012</td>
		  <td>Pending</td>
		</tr>
		<tr class="info">
		  <td>4</td>
		  <td>TB - Monthly</td>
		  <td>04/04/2012</td>
		  <td>Call in to confirm</td>
		</tr>
	      </tbody>
	    </table>
	  </div>
	</div>
	<div class="box box-element">
	  <a href="build#close" class="remove label label-important"><i class="icon-remove icon-white"></i>remove</a>
	  <span class="drag label"><i class="icon-move"></i>drag</span>
	  <span class="configuration">
	    <a class="btn btn-mini" href="build#" rel="form-inline">Inline</a>
	  </span>
	  <div class="preview">Form</div>
	  <div class="view">
	    <form>
	      <fieldset>
		<legend contenteditable="true">Legend</legend>
		<label contenteditable="true">Label name</label>
		<input type="text" placeholder="Type something…">
		<span class="help-block" contenteditable="true">Example block-level help text here.</span>
		<label class="checkbox">
		  <input type="checkbox" contenteditable="true"> Check me out
		</label>
		<button type="submit" class="btn" contenteditable="true">Submit</button>
	      </fieldset>
	    </form>
	  </div>
	</div>
	<div class="box box-element">
	  <a href="build#close" class="remove label label-important"><i class="icon-remove icon-white"></i>remove</a>
	  <span class="drag label"><i class="icon-move"></i>drag</span>
	  <span class="configuration">
	    <a class="btn btn-mini" href="build#" rel="form-inline">Inline</a>
	  </span>
	  <div class="preview">Search Form</div>
	  <div class="view">
	    <form class="form-search">
	      <input type="text" class="input-medium search-query">
	      <button type="submit" class="btn" contenteditable="true">Search</button>
	    </form>
	  </div>
	</div>
	<div class="box box-element">
	  <a href="build#close" class="remove label label-important"><i class="icon-remove icon-white"></i>remove</a>
	  <span class="drag label"><i class="icon-move"></i>drag</span>
	  <span class="configuration">
	  </span>
	  <div class="preview">Horizontal Form</div>
	  <div class="view">
	    <form class="form-horizontal">
	      <div class="control-group">
		<label class="control-label" for="inputEmail" contenteditable="true">Email</label>
		<div class="controls">
		  <input type="text" id="inputEmail" placeholder="Email">
		</div>
	      </div>
	      <div class="control-group">
		<label class="control-label" for="inputPassword" contenteditable="true">Password</label>
		<div class="controls">
		  <input type="password" id="inputPassword" placeholder="Password">
		</div>
	      </div>
	      <div class="control-group">
		<div class="controls">
		  <label class="checkbox" contenteditable="true">
		    <input type="checkbox"> Remember me
		  </label>
		  <button type="submit" class="btn" contenteditable="true">Sign in</button>
		</div>
	      </div>
	    </form>
	  </div>
	</div>
	<div class="box box-element">
	  <a href="build#close" class="remove label label-important"><i class="icon-remove icon-white"></i>remove</a>
	  <span class="drag label"><i class="icon-move"></i>drag</span>
	  <span class="configuration">
	    <span class="btn-group">
	      <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="build#">Styles <span class="caret"></span></a>
	      <ul class="dropdown-menu">
		<li class="active" ><a href="build#" rel="">Default</a></li>
		<li class="" ><a href="build#" rel="btn-primary">Primary</a></li>
		<li class="" ><a href="build#" rel="btn-info">Info</a></li>
		<li class="" ><a href="build#" rel="btn-success">Success</a></li>
		<li class="" ><a href="build#" rel="btn-warning">Warning</a></li>
		<li class="" ><a href="build#" rel="btn-danger">Danger</a></li>
		<li class="" ><a href="build#" rel="btn-inverse">Inverse</a></li>
		<li class="" ><a href="build#" rel="btn-link">Link</a></li>
	      </ul>
	    </span>
	    <span class="btn-group">
	      <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="build#">Size <span class="caret"></span></a>
	      <ul class="dropdown-menu">
		<li class="" ><a href="build#" rel="btn-large">Large</a></li>
		<li class="active" ><a href="build#" rel="">Default</a></li>
		<li class="" ><a href="build#" rel="btn-small">Small</a></li>
		<li class="" ><a href="build#" rel="btn-mini">Mini</a></li>
	      </ul>
	    </span>
	    
	    <a class="btn btn-mini" href="build#" rel="btn-block">Block</a>
	    <a class="btn btn-mini" href="build#" rel="disabled">Disabled</a>
	  </span>
	  <div class="preview">Button</div>
	  <div class="view">
	    <button class="btn" type="button" contenteditable="true">Button</button>
	  </div>
	</div>
	<div class="box box-element">
	  <a href="build#close" class="remove label label-important"><i class="icon-remove icon-white"></i>remove</a>
	  <span class="drag label"><i class="icon-move"></i>drag</span>
	  <span class="configuration">
	    <span class="btn-group">
	      <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="build#">Styles <span class="caret"></span></a>
	      <ul class="dropdown-menu">
		<li class="active" ><a href="build#" rel="">Default</a></li>
		<li class="" ><a href="build#" rel="btn-primary">Primary</a></li>
		<li class="" ><a href="build#" rel="btn-info">Info</a></li>
		<li class="" ><a href="build#" rel="btn-success">Success</a></li>
		<li class="" ><a href="build#" rel="btn-warning">Warning</a></li>
		<li class="" ><a href="build#" rel="btn-danger">Danger</a></li>
		<li class="" ><a href="build#" rel="btn-inverse">Inverse</a></li>
		<li class="" ><a href="build#" rel="btn-link">Link</a></li>
	      </ul>
	    </span>
	    <span class="btn-group">
	      <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="build#">Size <span class="caret"></span></a>
	      <ul class="dropdown-menu">
		<li class="" ><a href="build#" rel="btn-large">Large</a></li>
		<li class="active" ><a href="build#" rel="">Default</a></li>
		<li class="" ><a href="build#" rel="btn-small">Small</a></li>
		<li class="" ><a href="build#" rel="btn-mini">Mini</a></li>
	      </ul>
	    </span>
	    
	    <a class="btn btn-mini" href="build#" rel="btn-block">Block</a>
	    <a class="btn btn-mini" href="build#" rel="disabled">Disabled</a>
	  </span>
	  <div class="preview">Anchor Button</div>
	  <div class="view">
	    <a href="build#" class="btn" type="button" contenteditable="true">Button</a>
	  </div>
	</div>
	<div class="box box-element">
	  <a href="build#close" class="remove label label-important"><i class="icon-remove icon-white"></i>remove</a>
	  <span class="drag label"><i class="icon-move"></i>drag</span>
	  <span class="configuration">
	    <span class="btn-group">
	      <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="build#">Styles <span class="caret"></span></a>
	      <ul class="dropdown-menu">
		<li class="active" ><a href="build#" rel="">Default</a></li>
		<li class="" ><a href="build#" rel="img-rounded">Rounded</a></li>
		<li class="" ><a href="build#" rel="img-circle">Circle</a></li>
		<li class="" ><a href="build#" rel="img-polaroid">Polaroid</a></li>
	      </ul>
	    </span>
	  </span>
	  <div class="preview">Image</div>
	  <div class="view">
	    <img alt="140x140" src="http://lorempixel.com/140/140/">
	  </div>
	</div>
      </li>
    </ul>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
    <script type="text/javascript" src="http://cdn.transparensee.com/lib/jquery-plugin/touchpunch/0.2.2/jquery.ui.touch-punch.min.js"></script>
    <script type="text/javascript" src="/js/jquery.htmlClean.js"></script>
    <script type="text/javascript" src="/js/selector_utils.js"></script>
    <script type="text/javascript" src="/out/goog/base.js"></script>
    <script type="text/javascript" src="/js/main-debug.js"></script>
    <script type="text/javascript" src="/js/layout_manager.js"></script>
  </body>
</html>
