<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.css"/>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-responsive.css"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
  </head>
  <body id="the_body">
    <header></header>
    <div id="navbar">
      <nav class="container-fluid navbar navbar-inverse navbar-fixed-top">
        <a class="brand" href="#">Spankins Continuous Integration/Delivery/Deployment Platform</a>
        <ul class="nav" role="navigation" id="nav-bar-dropdown-menu">
          <li class="dropdown">
            <a  href="#new" class="dropdown-toggle menu-header" role="button" data-toggle="dropdown">Tools and Frameworks&nbsp;</a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
              <li><a tabindex="-1" href="#">Menu Builder</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
    <section class="contentWrapper" id="main">
      <section class="without-sidebar" id="content">
        <ul class="builds" id="builds_for_nxtu06vbx87dxnmepwk3ltivy">
          <li class="build error" id="build_2460292"><header>
              <div class="status" title="error">
                Error
              </div>
              <div>
                <h2 title="LEARNCLJ-8: added repl lecture for channels that will be part of lecture 6">
                  <a href="/projects/32332">mateoconfeugo/learn-clojure</a>:
                  <a class="commit-message" href="/projects/32332/builds/2460292">LEARNCLJ-8: added repl lecture for channels that will be part of lecture 6</a>
                </h2>
                <div class="rs-buildBadge -failed">failed</div>
                <div class="rs-buildTimes">
                  <span title="Executed in 0 min 26 sec.">0 min 26 sec</span>
                  <time class="created-at" datetime="2014-10-11T17:57:23Z">10/11/2014 10:57</time>
                </div>
              </div>
              <div>
                <span class="commit-data">
                  <span class="avatarpic">
                    <img alt="A7d2835274a646d5ad928e50eb8cc816" src="https://secure.gravatar.com/avatar/a7d2835274a646d5ad928e50eb8cc816.png?r=PG&amp;s=36">
                  </span>
                  <div class="rs_build_meta">
                    <span class="username">mateoconfeugo</span>
                    <span class="branch">channels</span>
                    <a class="commit" href="https://github.com/mateoconfeugo/learn-clojure/commit/a2742f0d5fe29c5ee19c1a9cb87b80f98844ee88" target="_blank">a2742f0d</a>
                  </div>
                </span>
              </div>
              <a class="view" href="/projects/32332/builds/2460292">View build</a>
            </header>

          </li><li class="build error" id="build_2104360"><header>
              <div class="status" title="error">
                Error
              </div>
              <div>
                <h2 title="learnclj-2: Added lots of documentation to core.async section and made changes to the wine chease cheese bot to clean it up">
                  <a href="/projects/32332">mateoconfeugo/learn-clojure</a>:
                  <a class="commit-message" href="/projects/32332/builds/2104360">learnclj-2: Added lots of documentation to core.async section and made changes to the wine chease cheese bot to clean it up</a>
                </h2>
                <div class="rs-buildBadge -failed">failed</div>
                <div class="rs-buildTimes">
                  <span title="Executed in 0 min 52 sec.">0 min 52 sec</span>
                  <time class="created-at" datetime="2014-09-08T16:58:23Z">9/8/2014 9:58</time>
                </div>
              </div>
              <div>
                <span class="commit-data">
                  <span class="avatarpic">
                    <img alt="A7d2835274a646d5ad928e50eb8cc816" src="https://secure.gravatar.com/avatar/a7d2835274a646d5ad928e50eb8cc816.png?r=PG&amp;s=36">
                  </span>
                  <div class="rs_build_meta">
                    <span class="username">mateoconfeugo</span>
                    <span class="branch">learnclj-2</span>
                    <a class="commit" href="https://github.com/mateoconfeugo/learn-clojure/commit/5e864f14f987688fecc92c3ce3e7ae9b36affc81" target="_blank">5e864f14</a>
                  </div>
                </span>
              </div>
              <a class="view" href="/projects/32332/builds/2104360">View build</a>
            </header>

          </li><li class="build error" id="build_2095437"><header>
              <div class="status" title="error">
                Error
              </div>
              <div>
                <h2 title="Merge pull request #11 from mateoconfeugo/release-next

                           Release next">
                  <a href="/projects/32332">mateoconfeugo/learn-clojure</a>:
                  <a class="commit-message" href="/projects/32332/builds/2095437">Merge pull request #11 from mateoconfeugo/release-next

                    Release next</a>
                </h2>
                <div class="rs-buildBadge -failed">failed</div>
                <div class="rs-buildTimes">
                  <span title="Executed in 0 min 57 sec.">0 min 57 sec</span>
                  <time class="created-at" datetime="2014-09-07T16:39:07Z">9/7/2014 9:39</time>
                </div>
              </div>
              <div>
                <span class="commit-data">
                  <span class="avatarpic">
                    <img alt="A7d2835274a646d5ad928e50eb8cc816" src="https://secure.gravatar.com/avatar/a7d2835274a646d5ad928e50eb8cc816.png?r=PG&amp;s=36">
                  </span>
                  <div class="rs_build_meta">
                    <span class="username">mateoconfeugo</span>
                    <span class="branch">master</span>
                    <a class="commit" href="https://github.com/mateoconfeugo/learn-clojure/commit/d5b9779369951ec21a07afb57ebf1e941eabce69" target="_blank">d5b97793</a>
                  </div>
                </span>
              </div>
              <a class="view" href="/projects/32332/builds/2095437">View build</a>
            </header>

          </li><li class="build success" id="build_2095429"><header>
              <div class="status" title="success">
                Success
              </div>
              <div>
                <h2 title="Merge branch 'release-next' of github.com:mateoconfeugo/learn-clojure into release-next">
                  <a href="/projects/32332">mateoconfeugo/learn-clojure</a>:
                  <a class="commit-message" href="/projects/32332/builds/2095429">Merge branch 'release-next' of github.com:mateoconfeugo/learn-clojure into release-next</a>
                </h2>
                <div class="rs-buildBadge -success">success</div>
                <div class="rs-buildTimes">
                  <span title="Executed in 0 min 57 sec.">0 min 57 sec</span>
                  <time class="created-at" datetime="2014-09-07T16:36:36Z">9/7/2014 9:36</time>
                </div>
              </div>
              <div>
                <span class="commit-data">
                  <a class="add_collaborator avatarpic" data-method="post" href="/projects/32332/memberships?from=dashboard&amp;team_member_invitation%5Bemail%5D=mburns%40dandb.com" rel="nofollow" title="Add Matt Burns to this project."><img alt="9629c298182bc7c5518d97a6fec0a19f" src="https://secure.gravatar.com/avatar/9629c298182bc7c5518d97a6fec0a19f.png?r=PG&amp;s=36">
                    <span class="add">Add +</span>
                  </a><div class="rs_build_meta">
                    <span class="username">Matt Burns</span>
                    <span class="branch">release-next</span>
                    <a class="commit" href="https://github.com/mateoconfeugo/learn-clojure/commit/e0f7cd24061136b0d3c25eed2f79c042da771286" target="_blank">e0f7cd24</a>
                  </div>
                </span>
              </div>
              <a class="view" href="/projects/32332/builds/2095429">View build</a>
            </header>
          </li><li class="build success" id="build_2029962"><header>
              <div class="status" title="success">
                Success
              </div>
              <div>
                <h2 title="Merge pull request #5 from mateoconfeugo/fixup

                           Fixup">
                  <a href="/projects/31858">mateoconfeugo/cloudseed</a>:
                  <a class="commit-message" href="/projects/31858/builds/2029962">Merge pull request #5 from mateoconfeugo/fixup

                    Fixup</a>
                </h2>
                <div class="rs-buildBadge -success">success</div>
                <div class="rs-buildTimes">
                  <span title="Executed in 0 min 24 sec.">0 min 24 sec</span>
                  <time class="created-at" datetime="2014-08-31T14:39:14Z">8/31/2014 7:39</time>
                </div>
              </div>
              <div>
                <span class="commit-data">
                  <span class="avatarpic">
                    <img alt="A7d2835274a646d5ad928e50eb8cc816" src="https://secure.gravatar.com/avatar/a7d2835274a646d5ad928e50eb8cc816.png?r=PG&amp;s=36">
                  </span>
                  <div class="rs_build_meta">
                    <span class="username">mateoconfeugo</span>
                    <span class="branch">release-next</span>
                    <a class="commit" href="https://github.com/mateoconfeugo/cloudseed/commit/90a0816d125ee11b2f6203b908c52629ae635807" target="_blank">90a0816d</a>
                  </div>
                </span>
              </div>
              <a class="view" href="/projects/31858/builds/2029962">View build</a>
            </header>
          </li><li class="build success" id="build_2029947"><header>
              <div class="status" title="success">
                Success
              </div>
              <div>
                <h2 title="Update README.md">
                  <a href="/projects/31858">mateoconfeugo/cloudseed</a>:
                  <a class="commit-message" href="/projects/31858/builds/2029947">Update README.md</a>
                </h2>
                <div class="rs-buildBadge -success">success</div>
                <div class="rs-buildTimes">
                  <span title="Executed in 0 min 25 sec.">0 min 25 sec</span>
                  <time class="created-at" datetime="2014-08-31T14:34:02Z">8/31/2014 7:34</time>
                </div>
              </div>
              <div>
                <span class="commit-data">
                  <span class="avatarpic">
                    <img alt="A7d2835274a646d5ad928e50eb8cc816" src="https://secure.gravatar.com/avatar/a7d2835274a646d5ad928e50eb8cc816.png?r=PG&amp;s=36">
                  </span>
                  <div class="rs_build_meta">
                    <span class="username">mateoconfeugo</span>
                    <span class="branch">fixup</span>
                    <a class="commit" href="https://github.com/mateoconfeugo/cloudseed/commit/9bb4bca2c0b58a3fb0062f5fefe4c936b05b8bee" target="_blank">9bb4bca2</a>
                  </div>
                </span>
              </div>
              <a class="view" href="/projects/31858/builds/2029947">View build</a>
            </header>
          </li><li class="build success" id="build_2028801"><header>
              <div class="status" title="success">
                Success
              </div>
              <div>
                <h2 title="fsm-highstate-function-graph: organizing this into a coherent module by getting the test function graphs togeter">
                  <a href="/projects/31858">mateoconfeugo/cloudseed</a>:
                  <a class="commit-message" href="/projects/31858/builds/2028801">fsm-highstate-function-graph: organizing this into a coherent module by getting the test function graphs togeter</a>
                </h2>
                <div class="rs-buildBadge -success">success</div>
                <div class="rs-buildTimes">
                  <span title="Executed in 0 min 23 sec.">0 min 23 sec</span>
                  <time class="created-at" datetime="2014-08-31T04:24:41Z">8/30/2014 9:24</time>
                </div>
              </div>
              <div>
                <span class="commit-data">
                  <span class="avatarpic">
                    <img alt="A7d2835274a646d5ad928e50eb8cc816" src="https://secure.gravatar.com/avatar/a7d2835274a646d5ad928e50eb8cc816.png?r=PG&amp;s=36">
                  </span>
                  <div class="rs_build_meta">
                    <span class="username">mateoconfeugo</span>
                    <span class="branch">origin-fsm-highstate-function-graph</span>
                    <a class="commit" href="https://github.com/mateoconfeugo/cloudseed/commit/2d9c26a94a01f9ccd65fc0a18b6c8ed506e8dced" target="_blank">2d9c26a9</a>
                  </div>
                </span>
              </div>
              <a class="view" href="/projects/31858/builds/2028801">View build</a>
            </header>
          </li><li class="build success" id="build_1989424"><header>
              <div class="status" title="success">
                Success
              </div>
              <div>
                <h2 title="cleanup-loggin-errors: adding ticket tracking to a process">
                  <a href="/projects/32332">mateoconfeugo/learn-clojure</a>:
                  <a class="commit-message" href="/projects/32332/builds/1989424">cleanup-loggin-errors: adding ticket tracking to a process</a>
                </h2>
                <div class="rs-buildBadge -success">success</div>
                <div class="rs-buildTimes">
                  <span title="Executed in 1 min 24 sec.">1 min 24 sec</span>
                  <time class="created-at" datetime="2014-08-27T00:24:48Z">8/26/2014 5:24</time>
                </div>
              </div>
              <div>
                <span class="commit-data">
                  <a class="add_collaborator avatarpic" data-method="post" href="/projects/32332/memberships?from=dashboard&amp;team_member_invitation%5Bemail%5D=mburns%40dandb.com" rel="nofollow" title="Add Matt Burns to this project."><img alt="9629c298182bc7c5518d97a6fec0a19f" src="https://secure.gravatar.com/avatar/9629c298182bc7c5518d97a6fec0a19f.png?r=PG&amp;s=36">
                    <span class="add">Add +</span>
                  </a><div class="rs_build_meta">
                    <span class="username">Matt Burns</span>
                    <span class="branch">cleanup-logging-errors</span>
                    <a class="commit" href="https://github.com/mateoconfeugo/learn-clojure/commit/4cc9d2229a5d83416fcb7e0bb70c67d5d584493b" target="_blank">4cc9d222</a>
                  </div>
                </span>
              </div>
              <a class="view" href="/projects/32332/builds/1989424">View build</a>
            </header>
          </li><li class="build error" id="build_1973693"><header>
              <div class="status" title="error">
                Error
              </div>
              <div>
                <h2 title="Merge pull request #10 from mateoconfeugo/cleanup-logging-errors

                           clean-logging-errors:  trying to remove as many logging configuation pro...">
                  <a href="/projects/32332">mateoconfeugo/learn-clojure</a>:
                  <a class="commit-message" href="/projects/32332/builds/1973693">Merge pull request #10 from mateoconfeugo/cleanup-logging-errors

                    clean-logging-errors:  trying to remove as many logging configuation pro...</a>
                </h2>
                <div class="rs-buildBadge -failed">failed</div>
                <div class="rs-buildTimes">
                  <span title="Executed in 1 min 25 sec.">1 min 25 sec</span>
                  <time class="created-at" datetime="2014-08-25T19:05:18Z">8/25/2014 12:05</time>
                </div>
              </div>
              <div>
                <span class="commit-data">
                  <span class="avatarpic">
                    <img alt="A7d2835274a646d5ad928e50eb8cc816" src="https://secure.gravatar.com/avatar/a7d2835274a646d5ad928e50eb8cc816.png?r=PG&amp;s=36">
                  </span>
                  <div class="rs_build_meta">
                    <span class="username">mateoconfeugo</span>
                    <span class="branch">master</span>
                    <a class="commit" href="https://github.com/mateoconfeugo/learn-clojure/commit/50a952f5ea29479f3fdb161829474cd1922217b4" target="_blank">50a952f5</a>
                  </div>
                </span>
              </div>
              <a class="view" href="/projects/32332/builds/1973693">View build</a>
            </header>

          </li><li class="build success" id="build_1973681"><header>
              <div class="status" title="success">
                Success
              </div>
              <div>
                <h2 title="clean-logging-errors:  trying to remove as many logging configuation problems was mostly successful">
                  <a href="/projects/32332">mateoconfeugo/learn-clojure</a>:
                  <a class="commit-message" href="/projects/32332/builds/1973681">clean-logging-errors:  trying to remove as many logging configuation problems was mostly successful</a>
                </h2>
                <div class="rs-buildBadge -success">success</div>
                <div class="rs-buildTimes">
                  <span title="Executed in 1 min 14 sec.">1 min 14 sec</span>
                  <time class="created-at" datetime="2014-08-25T19:04:16Z">8/25/2014 12:04</time>
                </div>
              </div>
              <div>
                <span class="commit-data">
                  <a class="add_collaborator avatarpic" data-method="post" href="/projects/32332/memberships?from=dashboard&amp;team_member_invitation%5Bemail%5D=mburns%40dandb.com" rel="nofollow" title="Add Matt Burns to this project."><img alt="9629c298182bc7c5518d97a6fec0a19f" src="https://secure.gravatar.com/avatar/9629c298182bc7c5518d97a6fec0a19f.png?r=PG&amp;s=36">
                    <span class="add">Add +</span>
                  </a><div class="rs_build_meta">
                    <span class="username">Matt Burns</span>
                    <span class="branch">cleanup-logging-errors</span>
                    <a class="commit" href="https://github.com/mateoconfeugo/learn-clojure/commit/9c43068d2223a0a87bb480aa62360369f6c3edd5" target="_blank">9c43068d</a>
                  </div>
                </span>
              </div>
              <a class="view" href="/projects/32332/builds/1973681">View build</a>
            </header>

          </li>
        </ul>
        <nav>
          <a href="/projects" id="newer">Previous</a>
          |
          <a href="/projects?page=3" id="older">Next</a>
        </nav>
    </section>
    </section>
    <footer>
    </footer>
    <script src="/js/main.js" type="text/javascript"></script>
    <script type="text/javascript">
      <!--         example.repl.connect();  -->
    </script>
  </body>
</html>
