<div>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script type="text/javascript" src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
<script type="text/javascript" src="http://cdn.transparensee.com/lib/jquery-plugin/touchpunch/0.2.2/jquery.ui.touch-punch.min.js"></script>
<script type="text/javascript" src="/js/jquery.htmlClean.js"></script>
<script type="text/javascript" src="/js/selector_utils.js"></script>
<script type="text/javascript" src="/out/goog/base.js"></script> 
<script type="text/javascript" src="/js/main-debug.js"></script> 
<script type="text/javascript" src="/js/layout_manager.js"></script>
</div>
