<html>
  <body id="the_body">
    <header></header>
    <nav class="container-fluid navbar navbar-inverse navbar-fixed-top top nav">
      <a class="brand" href="#">Spankins Continuous Integration/Delivery/Deployment Platform</a>
      <ul class="nav" role="navigation" id="nav-bar-dropdown-menu">
	<li class="dropdown">
	  <a  href="#new" class="dropdown-toggle menu-header" role="button" data-toggle="dropdown">Tools and Features &nbsp;</a>
	  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
	    <li><a tabindex="-1" href="#">Learn Clojure</a></li>
	  </ul>
	</li>
      </ul>
    </nav>
    <div class="container-fluid">
      <div class="tabbable tabs-right container-fluid"></div>
    </div>
  </body>
</html>
